.show-card {
  width: 225px;
  height: 8rem;
  background-color: var(--clr-black);

  img, iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
  }

  iframe {
    border-radius: 5px 5px 0 0;
  }

  .card-hover {
    top: -4rem;
    width: 280px;
    //height: 280px;
    transform: scale(1.15);
    z-index: 10;
    cursor: auto;
    border-radius: 5px;
    background-color: var(--clr-black);
    box-shadow: 0px 0px 15px 0px rgba(225, 225, 225, 0.10);

    .show-thumbnail {
      display: grid;
      place-content: center;
      height: 150px;
    }

    .show-info {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;

      //height: 130px;
      padding: 0.8rem;
      font-size: 0.7rem;
      border-radius: 0 0 5px 5px;

      .details {
        display: flex;
        gap: 0.5rem;

        font-weight: 600;
        color: var(--clr-grey-light);

        .age-restriction {
          color: var(--clr-green);
        }
      }

      .synopsis {
        color: var(--clr-white);
      }
    }
  }

  &:hover {
    .card-hover {
      position: absolute;
    }
  }
}