.back-btn {

  > * {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    margin: 1.5rem;
    position: absolute;
    opacity: 0;
    color: var(--clr-white);
    transition: 300ms ease;

    &:hover {
      opacity: 1;
    }
  }
}