.card-menu {
  display: flex;
  gap: 0.5rem;

  .icon {
    display: flex;
    align-items: center;

    padding: 0.2rem;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid var(--clr-white);

    > * {
      font-size: 1.1rem;
    }
  }
}