:root {
  --clr-white: #f0f0f0;
  --clr-black: #0b0b0b;
  --clr-grey: #222222;
  --clr-grey-light: #3e3e3e;
  --clr-green: #12ca22;
  --clr-red: #e50914;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;
  background-color: var(--clr-black);
}

a {
  text-decoration: none;
}

h1, h2, h3, p {
  margin: 0;
}

h1 {
  font-size: 3.125rem;
}

h2 {
  font-size: 1.625rem;
}

h3 {
  font-size: 23px;
}