.show-poster {
  display: flex;
  align-items: center;

  position: relative;
  height: 14.5rem;

  .poster-hover {
    position: absolute;
    inset: 0;
    width: 15rem;
    opacity: 0;
    z-index: 9;

    &.last {
      left: -8rem;
    }
  }

  .show-poster-img {
    width: 100%;
    height: 8rem;
    object-fit: cover;
  }

  &:hover {
    .poster-hover {
      opacity: 1;
    }
  }
}

@media (min-width: 600px) {
  .show-poster {

    .poster-hover {
      &.last {
        left: -1rem;
      }
    }
  }
}