.category {
  grid-column: 2;
  grid-row: 2;

  display: flex;
  gap: 1rem;

  height: min-content;
  padding-block-start: 0.5rem;
  font-size: 30px;
  color: white;

  select {
    color: white;
    border: none;
    background-color: var(--clr-black);
  }


  option::first-letter {
    text-transform: uppercase;
  }
}