.carousel-box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  margin-inline: 1rem;
  padding-block: 1.5rem;
}

@media (min-width: 600px) {
  .carousel-box {
    margin-inline: 3rem;
  }
}