.carousel-box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  max-width: 870px;
  margin-inline: auto;
  padding: 1.5rem 1rem;
}

@media (min-width: 600px) {
  .carousel-box {
    padding-inline: 0;
  }
}