.my-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100vh;

  .my-list-wrapper {

    .title {
      margin-inline-start: 3rem;
      padding-block: 4rem 2rem;
      font-size: 1.3rem;
      text-align: left;
      color: var(--clr-white);
    }

    .list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 0.25rem;

      margin: 0 3rem 3rem 3rem;

      > * {
        height: 8rem;
        min-width: 225px;
      }
    }
  }
}