.my-list {
  max-width: 1000px;
  margin-inline: auto;

  .title {
    margin-inline-start: 3rem;
    font-size: 1.3rem;
    padding-block: 4rem 2rem;
    color: var(--clr-white);
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    margin: 0 3rem 3rem 3rem;

    > * {
      min-width: 225px;
    }
  }
}