.my-list {
  max-width: 1000px;
  margin-inline: auto;

  .title {
    font-size: 1.3rem;
    text-align: center;
    padding-block: 3rem 2rem;
    color: var(--clr-white);
  }

  .list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    place-items: center;
    gap: 1rem;
  }
}