.shows-list {
  height: 15rem;
  color: var(--clr-white);

  .list-title {
    margin-block-end: -1rem;
    font-weight: 600;
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: var(--clr-white);
  }

  .swiper-button-prev.swiper-button-disabled,
  .swiper-button-next.swiper-button-disabled {
    opacity: 0;
  }
}